# Editor stuff
.*.swp

# Build output
*.so
*.o
.deps/

# dist output
/trunklet-format-*.zip

/sql/trunklet-format--*
!/sql/trunklet-format--*--*.sql

# Test artifacts
results/
regression.diffs
regression.out

# Misc crap
.DS_Store
tmp/
